{% extends 'app/layout/default.html' %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Customers</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="{% url 'customers_add' %}" class="btn btn-primary"
        >Nouveau</a
      >
    </div>
    <div class="card-body">
     

      {% if messages %}
       {% for message in messages %} 
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-alert mr-1"></i>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Id</th>
              <th>Customer First Name</th>
              <th>Customer Last Name</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Address</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            {% for Customer in customers %}
            <tr>
              <td>{{ Customer.id }}</td>
              <td>{{ Customer.first_name }}</td>
              <td>{{ Customer.last_name }}</td>
              <td>{{ Customer.email }}</td>
              <td>{{ Customer.tel }}</td>
              <td>{{ Customer.address }}</td>
              <td>
                <a
                  href=" {% url 'customers_edit' Customer.id %}"
                  class="btn btn-primary"
                  >Edit</a
                >

                <form
                  action=" {% url 'customers_delete' Customer.id %} "
                  method="post"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    onclick="return confirm('Voulez vous supprimer cette Customer?')"
                    class="btn btn-danger"
                  >
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
